{% extends "master.njk" %}

{% block content %}
here is home

<div>
    <div style="margin-left:auto; margin-right:auto; width:300px; background:#eee; text-align:center;">asd</div>
</div>

<p>
{{ results | dump}}
</p>


{% endblock %}


