<style>

    #navbar .navlink{
        display: inline-block;
        min-width:100px;
        background:grey;
        padding:20px;
        text-align:center;
    }

    #navbar .navlink a{
        color: white;
    }

</style>


<div id="navbar" style="background:blue; color: white; padding:25px; margin-bottom:15px;">

    <div class="navlink">
        <a href="/">Home</a>
    </div>

    <div class="navlink">
        <a href="/cv">CV</a>
    </div>

    <div class="navlink">
        <a href="/contact">Contact</a>
    </div>


</div>



{% block content %}
content
{% endblock %}







